<div style="overflow:hidden;position:fixed;top:0;width:100%;z-index:10;">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <i class="fa fa-bars"></i>
      <span>MENTAL MATH TRAINER - ACCOUNT VERIFICATION</span>
    </div>
  </p-toolbar>
</div>
<br/>
<br/>

<div class="ui-g" style="height:100%;">

  <div style="width:261px;margin: 0 auto;">

    <div *ngIf="!isVerified; else verified">
      <br/>
      <h2 style="text-align:center;">Almost there! Just tap below to Verify.</h2>
      <br/>
      <br/>
      <br/>
      <div style="width:261px;text-align:center;;">
        <button pButton type="button" (click)="verify()" label="Verify" class="mmt-input"></button>
      </div>
    </div>
    <ng-template #verified>
        <br/>
        <h2 style="text-align:center;">Account verified! Proceed to Log In Screen.</h2>
        <br/>
        <br/>
        <br/>
        <div style="width:261px;text-align:center;;">
          <button pButton type="button" (click)="goToLogin()" label="Login" class="mmt-input"></button>
        </div>
      </ng-template>


  </div>
</div>