<div style="overflow:hidden;position:fixed;top:0;width:100%;z-index:10;">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <i class="fa fa-bars"></i>
      <span>MENTAL MATH TRAINER</span>
      <div class="ui-toolbar-group-right">
        <span *ngIf="isLoggedIn" style="font-size: smaller;">Logged in as: {{currentMMTUsername()}}
          <button style="display:inline;margin-left:30px !important;margin-right:15px !important;" pButton type="button" (click)="logOut()" label="Log Out" class="mmt-input"></button>
        </span>
      </div>
    </div>
  </p-toolbar>
</div>
<br/>
<br/>

<div class="ui-g" style="height:100%;">
  <!-- body content goes here -->

  <div *ngIf="isLoggedIn; else notLoggedIn" id="mainAuthorizedView">
    <p>welcome to main view. you are authenticated.</p>
  </div>
  <!-- login and registration views -->
  <ng-template #notLoggedIn>
    <div style="width:100%;">
      <div *ngIf="!isCreatingAccount">
        <login-view #loginView></login-view>
      </div>
      <div *ngIf="isCreatingAccount">
        <registration-view #registrationView></registration-view>
      </div>
    </div>
  </ng-template>
</div>